This Jypter Notebook serves to clean and pre-process data from the Bike Share dataset 

Fanaee-T, Hadi. "Bike Sharing." UCI Machine Learning Repository, 2013, https://doi.org/10.24432/C5W894.

The output is the cleaned data file 'hour_clean.csv'

In [1]:
import pandas as pd

In [2]:
hour_df = pd.read_csv('hour.csv')

From the dataset creator we are provided the following information

- instant: record index
	- dteday : date
	- season : season (1:springer, 2:summer, 3:fall, 4:winter)
	- yr : year (0: 2011, 1:2012)
	- mnth : month ( 1 to 12)
	- hr : hour (0 to 23)
	- holiday : weather day is holiday or not (extracted from http://dchr.dc.gov/page/holiday-schedule)
	- weekday : day of the week
	- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
	+ weathersit : 
		- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
		- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
		- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
		- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
	- temp : Normalized temperature in Celsius. The values are divided to 41 (max)
	- atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)
	- hum: Normalized humidity. The values are divided to 100 (max)
	- windspeed: Normalized wind speed. The values are divided to 67 (max)
	- casual: count of casual users
	- registered: count of registered users
	- cnt: count of total rental bikes including both casual and registered

In [5]:
hour_df.drop(columns=['instant'], inplace=True)
hour_df.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Fortunately at this point there is no need for any further preprocessing, values are already converted to the appropriate data types, columns are easier to interpret, and none of the values are missing or null. At this point ive elected to split the data within each model for the sake of debugging errors, those steps will be detailed in each of the attempted models in `proj3_machine_learning.ipynb` 

This also serves to keep a copy of the clean data in a separate file so that any mistakes made while implementing the data will be unable to corrupt the original dataset

In [7]:
hour_df.to_csv('hour_clean.csv')